
<div class="col-lg-4 col-sm-4 mb-4 col-6">
<div class="card img-thumbnail " >
  <a href="/post/<%= post._id %>">
    <img src="../<%= post.imagePathForWeb %>" class="card-img-top" alt="<%= post.formatedName %>">
  </a>
    <div class="card-body">
      <input type="hidden" name="postId" value="<%= post._id %>"> </input>
      <h5 class="card-title"><%= post.name %></h5>
      <p class="card-text"><%= post.info %></p>
      <p class="card-text">size <%= post.width %>x<%= post.height %></p>
      <%- include('../partials/downloadSection', {postid:post._id})%>
    </div>
  </div>
</div>


