<!-- Portfolio Grid-->
<section class="page-section " id="portfolio">
<% categories.forEach(categories =>{ %>
    <div class="container jumbotron" id="<%= categories.name %>">
        <div class="card-deck">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"><%= categories.title %></h2>
            <h3 class="section-subheading text-muted"><%= categories.info %></h3>
        </div>
        <div class="row ">
            <% posts[categories.position].forEach(function(post){ %>
                <%- include("../partials/singlePost", {post:post}); %>
            <% }); %>                        
        </div>
        <div>
            <a class='btn btn-primary' href="/category/<%= categories.name %>">go to the whole collection of  United States</a>
        </div>
    </div>
    </div>
    <% }) %>


</section>